@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url("../images/blood.jpg") center fixed no-repeat;
    background-size: cover;
    background-color: rgba(51, 0, 14, 0.8);
    background-blend-mode: multiply;
}

.heading{
    font-size: clamp(1.85rem, 2vw, 2.5rem);
    font-weight: bold;
}

.title {
    font-size: clamp(1.85rem, 2vw, 2.25rem);
    color: #FF406D;
    font-weight: 700;
}

.detail {
    font-size: 1.125rem;
    color: #FF233C;
}

.navbar {
    background: linear-gradient(45deg, rgba(255, 64, 109, 1), rgba(255, 35, 60, 1));
    backdrop-filter: blur(10px);
    color: #F8F0F9 !important;
}

.sigupContainer{
    width: 90%;
    margin-top: 6.5em;
    max-width: 900px;
    padding: 10px 30px;
    backdrop-filter: blur(3px);
    background-color: rgba(248, 240, 249,1);
    border-radius: 5px;
    margin-bottom: 30px;
}

.requestContainer{
    width: 90%;
    margin-top: 6.5em;
    max-width: 500px;
    padding: 10px 30px;
    backdrop-filter: blur(3px);
    background-color: rgba(248, 240, 249,1);
    border-radius: 5px;
    margin-bottom: 30px;
}

.input{
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: rgba(248, 240, 249,1);
    
    width: 100%;
    max-width: 305px;
    font-size: 1.125rem;
}

.input:focus{
    outline: none;
    box-shadow: 0px 0px 10px rgba(248, 240, 249,0.5);
}

fieldset{
    border: none;
    margin-bottom: 10px;
}

.con-right{
    display: flex;
    align-items: center;
}