{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - Life Saver</title>
    <link rel="icon" href="../static/images/blood-icon.png">
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
    <div class="preloader"></div>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg fixed-top py-2">
        <div class="container">
            <div class="nav-right">
                <a class="navbar-brand heading text-light" href="#">Life Saver</a>
            </div>
            <div id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link body text-light" href="{%url 'Home'%}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z" />
                            </svg></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container sigupContainer">
        <div class="row">
            <div class="col col-lg-6 col-12 con-right">
                <img src="../static/images/login-img.png" alt="A signup Image" class="img-fluid text-center">
            </div>
            <div class="col col-lg-6 col-12 d-flex d-flex flex-column">
                <h2 class="title">Not yet Signup?</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <fieldset class="UsernameGroup">
                        <label for="name" class="login_details ">Username</label><br>
                        <input type="text" name="name" id="name" placeholder="Enter your UserName" class="input"
                            required>
                    </fieldset>
                    <fieldset class="emailGroup">
                        <label for="email" class="details">Email Id</label><br>
                        <input type="email" name="email" id="email" placeholder="Enter your Email Id" class="input"
                            required>
                    </fieldset>
                    <fieldset class="phoneGroup">
                        <label for="number" class="details">Phone Number</label><br>
                        <input type="text" name="number" id="number" placeholder="Enter your Contact Number" class="input"
                            required>
                    </fieldset>
                    <fieldset class="passwordGroup">
                        <label for="password" class="password">Password</label><br>
                        <input type="password" name="password" id="password" placeholder="Enter your Password"
                            class="input" required>
                    </fieldset>
                    <fieldset class="confirmpasswordGroup">
                        <label for="confirmpassword" class="confirmpassword">Confirm Password</label><br>
                        <input type="password" name="Conpassword" id="Conpassword" placeholder="Re-Type your password"
                            class="input" required>
                    </fieldset>
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    <button class="btn btn-success" type="submit">
                        <span class="btn-text-one">Sign Up</span>
                    </button>
                </form>
                <p class="details">Already have an account?<a href="{% url "Request" %}" class="btn btn-link">Login</a></p>
            </div>
        </div>
    </div>

    <script src="{% static 'Bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        // initialization for loader
        let loader = document.querySelector(".preloader");

        window.addEventListener("load", () => {
            loader.style.display = "none";
        })
    </script>
</body>

</html>